*{
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-size: 10px; 
}

a{
    text-decoration: none;

}
ul,li{
    list-style-type: none;
}

.wrapper{
    margin: 0 auto;
    padding:  1rem 4rem;
}
#header-bar{
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}

.mobile-hide{
    display: none;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
}

nav ul li{
    margin: 1 rem;
    padding: 1rem;
}

#user-actions ul{
    margin: 1 rem;
    padding: 1rem;
}