@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,body{
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-size: 10px;
    background-clip: #fff;
    font-family: 'Montserrat', sans-serif;

}

a{
    text-decoration: none;

}
ul,li{
    list-style-type: none;
 
}

.wrapper{
    margin: 0 auto;
    padding:  1rem 6rem;
}
.wrapper-content{
    margin: 0 auto;
    padding:  1rem 12rem;
}

header{
    width: 100vw;
    height: 50vh;
   

}
#header-bar{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}

#brand{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: crimson;
}
.mobile-hide{
    display: none;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
}

nav ul li{
    margin: 1 rem;
    padding: 1rem;
}

.nav-link:hover{
    font-weight: 700;
}

#user-actions{
    justify-content: flex-end;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
}

#user-actions ul{
    margin: 1 rem;
    padding: 1 rem;
}



#navigator{
    justify-content: flex-end;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

#login, #sign-up{
    margin: 0 2 rem;
    padding: 0 2rem;
    font-weight: 300;
}

#hero{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: #1abc9c;
    opacity: 0.6;
    
}
#hero div{
    width: 50vw;
}