@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,body{
    margin: 0;
    padding: 0;
    overflow:hidden;
    font-size: 10px;
    background-clip: #fff;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}
ul,li{
    list-style-type: none;
 
}

.wrapper{
    margin: 0 auto;
    padding:  1rem 6rem;
}
.wrapper-content{
    margin: 0 auto;
    padding:  1rem 12rem;
}

header{
    width: 100vw;
    height: 50vh;
  
}
#header-bar{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding-top: 3rem;
    width: 100vw;
    z-index: 999;
    box-sizing: border-box;
   
}

#brand{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: crimson;
}
.mobile-hide{
    display: none;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
}

nav ul li{
    margin: 1rem;
    padding: 1rem;
    transition: ease-in-out;
}

.nav-link:hover{
    font-weight: 700;
    color: crimson;
    transform: scale(2);
    
}

#user-actions{
    justify-content: flex-end;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
}

#user-actions ul{
    margin: 1rem;
    padding: 2rem;
}

#user-actions ul li{
    margin: 1rem;
    padding: 0.5rem 3rem;
}


#navigator{
    justify-content: flex-end;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

#login, #sign-up{
   
    font-weight: 300;
}

#hero{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    opacity: 0.6;
    
    
}
#hero div{
    width: 50vw;
   
}

#hero-text h1{
    
}

.bolder{
    font-weight: 800;
    background-color: crimson;
    color: #fff;
    padding: 1rem;
}

#image-div{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width: 50vw;
    
   
}
.header-img{
    width: 80%;
   height: auto;
   opacity: 0.7;
   float: right;;
}

.rounded{
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
}